<%= form_for @video, :html => { :multipart => true } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
	<% @video.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :proyecto_id %><br />
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :video, 'Video ogg' %>
    <%= f.file_field :video %>
  </div>

  <%#*<div class="field">%>
    <%#= f.label :video__mp4, 'Video mp4' %>
    <%#= f.file_field :video__mp4 %>
  <%#*</div>%>

  <%#*<span>%>
  <%#*MP4%>
  <%#*</span>%>
  <%#*<div class="field">%>
  <%#= f.file_field :video %>
  <%#*</div>%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
