<div>
  <div>
    <h3>Videos</h3>
    <hr />
  </div>
  <% @videos.each do |video| %>
    <div class="descripcion" style="margin-left: 10px;">
      <h4><%= video.nombre  %> </h4>
      <p><%= video.descripcion  %> </p>
    </div>
    <div style="text-align: center; padding-left: 136px;">
      <div id="video-<%= video.id %>"></div>
    </div>
    <script type='text/javascript'>
      jwplayer("video-<%= video.id %>").setup({
	flashplayer: "<%=  '../../assets/player.swf' %>",
	file: '<%= video.video_url %>'
      });
    </script>
  <% end %>
</div>

