<section>
  <h2>Cat&aacute;logo</h2>
  <hr />

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>

    <% @discos.each do |disco| %>
      <tr>
	<td><%= disco.nombre %></td>
	<td>
	  <%= link_to content_tag(:i, '', :class => 'icon-list-alt', :title => 'Ver Disco'), disco %>
	  <%= link_to content_tag(:i, '', :class => 'icon-edit', :title => 'Editar Disco'), edit_disco_path(disco) %>
	  <%= link_to content_tag(:i, '', :class => 'icon-ban-circle', :title => 'Eliminar Disco'), disco, confirm: 'Esta seguro?', method: :delete %>
	</td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'Agregar Disco', new_disco_path, :class => 'btn btn-primary' %>
</section>