<h2>Ver disco</h2>
<hr />

<p id="notice"><%= notice %></p>
<div style="margin-bottom: 20px;">
  <%= link_to content_tag(:i, '', :class => 'icon-arrow-left', :title => 'Volver a catalogo'), discos_path %>
  <%= link_to content_tag(:i, '', :class => 'icon-edit', :title => 'Editar'), edit_disco_path(@disco) %> 
</div>

<p>
  <b>Nombre:</b>
  <%= @disco.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @disco.descripcion %>
</p>

<p>
  <b>Imagen:</b>
  <%= image_tag @disco.imagen_url, :size => "200x100" if @disco.imagen? %>
</p>
<p>
  <b>Audio:</b>
<%# browser = request.env['HTTP_USER_AGENT'] %>
<%# case browser %>
<%# when /Firefox/  then %>
<%#= audio_tag(@disco.muestra, :controls => true) %>
<%# when /Chrome/  then %>
<%#= audio_tag(@disco.muestra, :controls => true) %>
<%# when /Safari/  then %>
<%#= audio_tag(@disco.audio_mp3, :controls => true) %>
<%# end %>

  <script type="text/javascript">  
    AudioPlayer.setup("../assets/audio-player.swf", {  
      width: 290  
    });  
  </script> 

<p id="audioplayer_1">Alternative content</p>  
<script type="text/javascript">  
  AudioPlayer.embed("audioplayer_1", {soundFile: "<%= @disco.muestra %>"});  
</script>

</p>
<hr />
<fieldset>
  <layaout><h3>Pistas</h3></layaout>
  <table>
    <% for pista in @disco.pistas.order(' id asc')%>
      <tr>
	<td><%= pista.nombre  %></td>
      </tr>
    <% end %>
  </table>
</fieldset>
